<div class="home">

        <div class="left_column">
          <mat-card class="big-card">
            <mat-card class="card">
                <h2>Latest Bonds</h2>
                <p>Bound uno</p>
                <div class="button">
                    LIKE
                </div>
                <div class="button">
                    SHARE
                </div>
            </mat-card>
            <mat-card class="card">
                <h2>Latest Purchases</h2>
                <p>Purchase uno</p>
                <div class="button">
                    LIKE
                </div>
                <div class="button">
                    SHARE
                </div>
            </mat-card>
          </mat-card>
        </div>

        <div class="right_column">
          <mat-card class="big-card">
            <mat-card class="card">
              <div class="button"> 
                  GRAFICO RANDOM XD
              </div>
            </mat-card>
          </mat-card>
        </div>
        
    </div>
