.postbond_card {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  text-align: center;
  max-width: 300px;
}

.text_box {
  width: 85%;
}
.options {
  width: 100%;
}

.option {
  margin: 10px;
}
