<div class="home">
  <mat-grid-list cols="2" style="background-color: #696969;">

    <mat-grid-tile class="latest_bonds_card">
      <mat-card class="big-card">
        <mat-card-title>Latest Bonds</mat-card-title>
          <mat-card>
            <mat-card-subtitle>Bond uno</mat-card-subtitle>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="right_col">
      <mat-card class="big-card">
        <mat-card-title>Grafico random xd</mat-card-title>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
