<section class="home">

  <div class="lef_column">
    <mat-card>
      <mat-card-title>Latest Bonds</mat-card-title>
      <mat-card >
        <mat-card-subtitle>Bond uno</mat-card-subtitle>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-card>

    <mat-card>
      <mat-card-title>Latest Bonds</mat-card-title>
      <mat-card>
        <mat-card-subtitle>Bond uno</mat-card-subtitle>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-card>
  </div>
  
  <div class="right_column">
    <mat-card>
      <mat-card-title>Grafico random xd</mat-card-title>
    </mat-card>
  </div>

</section>
